.CodingL {
  background: url(../../../../assets/images/Landing/HeroSection/Left.png) 60% 20% no-repeat;
  background-size: 140px;
}

.CodingR {
  background: url(../../../../assets/images/Landing/HeroSection/Right.png) 40% 20% no-repeat;
  background-size: 140px;
}
