ul.accardion {
  width: 100%;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
  background: none;
  background-size: 50px;
  direction: rtl;
  display: flex;
  justify-content: center;
}

ul.accardion > li {
  border-radius: 5px;
}

ul.accardion > li > label {
  display: block;
  background-size: 20px;
  font-size: 18px;
}

ul.accardion > li > .content {
  overflow: hidden;
  transition: 0.5s;
  height: 0;
}

ul.accardion > li > input {
  display: none;
}

ul.accardion > li > input:checked ~ .content {
  height: 140px;
  padding-top: 5px;
}

ul.accardion > li > input:checked + label {
  background-size: 20px;
}
